* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main , #evaluation-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  box-sizing: border-box;
  padding: 30px;
  align-self: center;
}

.container {
  display: flex;
}

#label-family , #label-content {
  display: flex;
  flex-direction: column;
}

.lado-direito , .lado-esquerdo {
  width: 50%;
}

footer {
  display: flex;
  background-color: gray;
  color: white;
  justify-content: center;
}